@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import "fonts";
* {
  font-family: 'Montserrat', 'sans-serif';
}
a {
  color: black;
  text-decoration: none;
  &:visited {
    color: black;
  }
}
