@import "fonts";

* {
  font-family: 'Bruta Glb', 'sans-serif';
  color: #262626;
}

a {
  color: black;
  text-decoration: none;

  &:visited {
    color: black;
  }
}

body {
  font-weight: 400;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
